pipeline/consomes exprKeytest.json
{
	"name": "consomes exprKeytest",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "exprekytest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.expKey",
						"type": "Expression"
					}
				}
			}
		],
		"policy": {
			"cancelAfter": {
				"duration": "30.00:00:00"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-26T20:19:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}