pipeline/import-FileShare-Delimited.json
{
    "name": "import-FileShare-Delimited",
    "properties": {
        "activities": [
            {
                "name": "ForEach File",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set FileShare Files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('fileList')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Set File URL",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "fileURL",
                                "value": {
                                    "value": "@item().Name",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "Check load type for watermark",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Set File URL",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(\n    'INCREMENTAL'\n    ,toUpper(pipeline().parameters.pipelineParameters.loadType)\n)",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Get FileShare File Metadata",
                                        "type": "GetMetadata",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "dataset": {
                                                "referenceName": "FileSystem_Delimited",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "host": {
                                                        "value": "@concat(\n    '//'\n    ,pipeline().parameters.pipelineParameters.server\n)",
                                                        "type": "Expression"
                                                    },
                                                    "user": {
                                                        "value": "@pipeline().parameters.pipelineParameters.user",
                                                        "type": "Expression"
                                                    },
                                                    "secret": {
                                                        "value": "@pipeline().parameters.pipelineParameters.secret",
                                                        "type": "Expression"
                                                    },
                                                    "keyvaultURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@pipeline().parameters.pipelineParameters.resourcePath",
                                                        "type": "Expression"
                                                    },
                                                    "file": {
                                                        "value": "@variables('fileURL')",
                                                        "type": "Expression"
                                                    },
                                                    "delimiter": {
                                                        "value": "@pipeline().parameters.pipelineParameters.delimiter",
                                                        "type": "Expression"
                                                    },
                                                    "firstRowHeader": {
                                                        "value": "@pipeline().parameters.pipelineParameters.firstRowHeader",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "fieldList": [
                                                "lastModified"
                                            ],
                                            "storeSettings": {
                                                "type": "FileServerReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Set FileShare LastModifiedDate",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Get FileShare File Metadata",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "fileLastModified",
                                            "value": {
                                                "value": "@activity('Get FileShare File Metadata').output.lastModified",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "Check Load Data",
                            "description": "",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Check load type for watermark",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@or(\n    or(\n        pipeline().parameters.loadData\n        ,greater(\n            variables('fileLastModified') \n            ,convertFromUtc(\n                pipeline().parameters.rawMaxLoadTime\n                , pipeline().parameters.pipelineParameters.localTimeZone\n            )\n        )\n    )\n    ,bool(\n        coalesce(\n            pipeline().parameters.pipelineParameters.forceLoad\n            ,false\n        )\n    )\n)",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set _LocalPipelineTriggerTime for Sharepoint_copy1",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "_LocalPipelineTriggerTime",
                                            "value": {
                                                "value": "@convertFromUtc(\n    pipeline().TriggerTime\n    ,pipeline().parameters.pipelineParameters.localTimeZone\n)",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "get-FieldMappings",
                                        "type": "Lookup",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.00:20:00",
                                            "retry": 1,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SharePointOnlineListSource",
                                                "query": {
                                                    "value": "$filter = @{pipeline().parameters.pipelineParameters.mappingFieldsFilter}",
                                                    "type": "Expression"
                                                },
                                                "httpRequestTimeout": "00:05:00"
                                            },
                                            "dataset": {
                                                "referenceName": "SharePointList",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "list": "FieldMapping",
                                                    "sharepointURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointURL",
                                                        "type": "Expression"
                                                    },
                                                    "tenantID": {
                                                        "value": "@pipeline().parameters.pipelineParameters.tenantID",
                                                        "type": "Expression"
                                                    },
                                                    "sharepointServicePrincipalID": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointServicePrincipalID",
                                                        "type": "Expression"
                                                    },
                                                    "sharepointServicePrincipalSecret": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointServicePrincipalSecret",
                                                        "type": "Expression"
                                                    },
                                                    "keyvaultURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "firstRowOnly": false
                                        }
                                    },
                                    {
                                        "name": "new-mapping",
                                        "type": "AzureFunctionActivity",
                                        "dependsOn": [
                                            {
                                                "activity": "get-FieldMappings",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            },
                                            {
                                                "activity": "get-DefaultAdditionalColumns",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.00:20:00",
                                            "retry": 1,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "functionName": "new-mapping",
                                            "method": "POST",
                                            "body": {
                                                "value": "{\n\"entityColumns\": @{activity('get-FieldMappings').output.value},\n\"additionalColumns\": @{activity('get-DefaultAdditionalColumns').output.value}\n}",
                                                "type": "Expression"
                                            }
                                        },
                                        "linkedServiceName": {
                                            "referenceName": "PowerShellFunction",
                                            "type": "LinkedServiceReference",
                                            "parameters": {
                                                "functionAppURL": {
                                                    "value": "@pipeline().parameters.pipelineParameters.functionAppURL",
                                                    "type": "Expression"
                                                },
                                                "secretName": {
                                                    "value": "@pipeline().parameters.pipelineParameters.powerShellFunctionServicePrincipalSecret",
                                                    "type": "Expression"
                                                },
                                                "keyvaultURL": {
                                                    "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "get-DefaultAdditionalColumns",
                                        "type": "Lookup",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "SharePointOnlineListSource",
                                                "httpRequestTimeout": "00:05:00"
                                            },
                                            "dataset": {
                                                "referenceName": "SharePointList",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "list": "DefaultAdditionalColumn",
                                                    "sharepointURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointURL",
                                                        "type": "Expression"
                                                    },
                                                    "tenantID": {
                                                        "value": "@pipeline().parameters.pipelineParameters.tenantID",
                                                        "type": "Expression"
                                                    },
                                                    "sharepointServicePrincipalID": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointServicePrincipalID",
                                                        "type": "Expression"
                                                    },
                                                    "sharepointServicePrincipalSecret": {
                                                        "value": "@pipeline().parameters.pipelineParameters.sharepointServicePrincipalSecret",
                                                        "type": "Expression"
                                                    },
                                                    "keyvaultURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "firstRowOnly": false
                                        }
                                    },
                                    {
                                        "name": "Copy FileShare File",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Set _LocalPipelineTriggerTime for Sharepoint_copy1",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            },
                                            {
                                                "activity": "new-mapping",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "additionalColumns": [
                                                    {
                                                        "name": "_LoadTimestamp",
                                                        "value": {
                                                            "value": "@formatDateTime(utcNow(),'u')",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadWorkspace",
                                                        "value": {
                                                            "value": "@pipeline().DataFactory",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipeline",
                                                        "value": {
                                                            "value": "@pipeline().Pipeline",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineRunId",
                                                        "value": {
                                                            "value": "@pipeline().RunId",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTriggerId",
                                                        "value": {
                                                            "value": "@pipeline().TriggerId",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTrigger",
                                                        "value": {
                                                            "value": "@pipeline().TriggerName",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTriggerType",
                                                        "value": {
                                                            "value": "@pipeline().TriggerType",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTriggerTime",
                                                        "value": {
                                                            "value": "@pipeline().TriggerTime",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTriggeredByPipeline",
                                                        "value": {
                                                            "value": "@pipeline()?.TriggeredByPipelineName",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadPipelineTriggeredByRunId",
                                                        "value": {
                                                            "value": "@pipeline()?.TriggeredByPipelineRunId",
                                                            "type": "Expression"
                                                        }
                                                    },
                                                    {
                                                        "name": "_LoadSource",
                                                        "value": {
                                                            "value": "@pipeline().parameters.pipelineParameters.rawDirectory",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                ],
                                                "storeSettings": {
                                                    "type": "FileServerReadSettings",
                                                    "recursive": true,
                                                    "enablePartitionDiscovery": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "value": "@activity('new-mapping').output",
                                                "type": "Expression"
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "FileSystem_Delimited",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "host": {
                                                        "value": "@concat(\n    '//'\n    ,pipeline().parameters.pipelineParameters.server\n)",
                                                        "type": "Expression"
                                                    },
                                                    "user": {
                                                        "value": "@pipeline().parameters.pipelineParameters.user",
                                                        "type": "Expression"
                                                    },
                                                    "secret": {
                                                        "value": "@pipeline().parameters.pipelineParameters.secret",
                                                        "type": "Expression"
                                                    },
                                                    "keyvaultURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@pipeline().parameters.pipelineParameters.resourcePath",
                                                        "type": "Expression"
                                                    },
                                                    "file": {
                                                        "value": "@variables('fileURL')",
                                                        "type": "Expression"
                                                    },
                                                    "delimiter": {
                                                        "value": "@pipeline().parameters.pipelineParameters.delimiter",
                                                        "type": "Expression"
                                                    },
                                                    "firstRowHeader": {
                                                        "value": "@pipeline().parameters.pipelineParameters.firstRowHeader",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "Parquet_DataLake",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "datalakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.datalakeURL",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.fileSystem)",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(concat(\n    pipeline().parameters.pipelineParameters.rawDirectory\n    ,'/'\n    ,pipeline().parameters.pipelineParameters.table\n    ,'/year=',formatDateTime(variables('_LocalPipelineTriggerTime'),'yyyy')\n    ,'/month=',formatDateTime(variables('_LocalPipelineTriggerTime'),'MM')\n    ,'/day=',formatDateTime(variables('_LocalPipelineTriggerTime'),'dd')\n)\n)",
                                                        "type": "Expression"
                                                    },
                                                    "fileName": {
                                                        "value": "@toLower(concat(\n    first(split(variables('fileURL'),'.'))\n    ,'.parquet'\n)\n)",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get FileShare Folder Items",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "FileSystem_Delimited",
                        "type": "DatasetReference",
                        "parameters": {
                            "host": {
                                "value": "@concat(\n    '//'\n    ,pipeline().parameters.pipelineParameters.server\n)",
                                "type": "Expression"
                            },
                            "user": {
                                "value": "@pipeline().parameters.pipelineParameters.user",
                                "type": "Expression"
                            },
                            "secret": {
                                "value": "@pipeline().parameters.pipelineParameters.secret",
                                "type": "Expression"
                            },
                            "keyvaultURL": {
                                "value": "@pipeline().parameters.pipelineParameters.keyvaultURL",
                                "type": "Expression"
                            },
                            "directory": {
                                "value": "@pipeline().parameters.pipelineParameters.resourcePath",
                                "type": "Expression"
                            },
                            "file": {
                                "value": "@pipeline().parameters.pipelineParameters.entityFilter",
                                "type": "Expression"
                            },
                            "delimiter": {
                                "value": "@pipeline().parameters.pipelineParameters.delimiter",
                                "type": "Expression"
                            },
                            "firstRowHeader": {
                                "value": "@pipeline().parameters.pipelineParameters.firstRowHeader",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        {
                            "value": "@if(\n    contains(\n        pipeline().parameters.pipelineParameters.entityFilter\n        ,'*'\n    )\n    ,'childItems'\n    , 'itemName'\n)",
                            "type": "Expression"
                        }
                    ],
                    "storeSettings": {
                        "type": "FileServerReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Set FileShare Files List",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get FileShare Folder Items",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "fileList",
                    "value": {
                        "value": "@if(\n    contains(pipeline().parameters.pipelineParameters.entityFilter,'*')\n    ,activity('Get FileShare Folder Items').output.childItems\n    ,if(\n        contains(pipeline().parameters.pipelineParameters.entityFilter,'yyyymmdd')\n        ,array(json(\n        concat(\n            '{'\n                ,'''Name'':''',replace(pipeline().parameters.pipelineParameters.entityFilter,'yyyymmdd',replace(formatDateTime(addToTime(utcNow(),-1,'Day'),'yyyy-MM-dd'),'-','')),''','\n                ,'''type'':''','File',''''\n            ,'}'\n            )))\n        ,if(\n        contains(pipeline().parameters.pipelineParameters.entityFilter,'dd_MM_yyyy')\n        ,array(json(\n        concat(\n            '{'\n                ,'''Name'':''',replace(pipeline().parameters.pipelineParameters.entityFilter,'dd_MM_yyyy',replace(formatDateTime(addToTime(utcNow(),-1,'Day'),'dd-MM-yyyy'),'-','_')),''','\n                ,'''type'':''','File',''''\n            ,'}'\n            )))\n        ,array(json(\n        concat(\n        '   {'\n                ,'''Name'':''',activity('Get FileShare Folder Items').output.itemName,''','\n                ,'''type'':''','File',''''\n            ,'}'\n            )))\n        )\n    )\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Filter Files",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Set FileShare Files List",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('fileList')",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@equals(item().type,'File')",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set FileShare Files",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Filter Files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "fileList",
                    "value": {
                        "value": "@activity('Filter Files').output.value",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "pipelineParameters": {
                "type": "object",
                "defaultValue": {
                    "datalakeurl": "https://cartersdevdatalake.dfs.core.windows.net",
                    "sourceName": "EDWFileshare",
                    "functionalArea": "HumanResources",
                    "companyCode": "CTR",
                    "fileSystem": "1-raw",
                    "forceLoad": "False",
                    "user": "svcCTRSynapseDEV@chhnet.net",
                    "secret": "svcCTRSynapse",
                    "watermarkField": "",
                    "loadType": "FULL",
                    "schema": "",
                    "authType": "Windows",
                    "Server": "melctrdbs02.chhnet.net",
                    "rawDirectory": "CTR/PROD/EDWFileshare",
                    "table": "DAILY_VEHICLE_UTILISATION",
                    "database": "",
                    "localTimeZone": "New Zealand Standard Time",
                    "IR": "OnPremises",
                    "sourceType": "FileShare",
                    "mappingFieldsFilter": "SourceEntityNameId eq 159",
                    "keyvaultURL": "https://carters-dev-synapse-kv.vault.azure.net",
                    "functionAppURL": "https://carters-nonprod-synapse-ps-fnapp.azurewebsites.net",
                    "powerShellFunctionServicePrincipalSecret": "CartersSynapsePowerShellFunctionServicePrincipal",
                    "sharePointURL": "https://carterholtharvey.sharepoint.com/sites/CartersSynapseDEV",
                    "sharepointServicePrincipalID": "9220d657-b404-497f-8282-160909458317",
                    "sharepointServicePrincipalSecret": "CartersSynapseSharePointServicePrincipal",
                    "tenantId": "33bf2332-a9ad-4005-835b-af44567b2122",
                    "resourcePath": "EDWProd/prod/chris21/carters",
                    "entityFilter": "ETL_3167_16_1_DAILY_VEHICLE_UTILISATION_REPORT_FOR_CARTERS_BUILDING_SUPPLIES_GROUP_LIMITED_OVER_PERIOD_DAILY_ENDING_ON_yyyymmdd.csv",
                    "delimiter": ",",
                    "firstRowHeader": "True",
                    "collectionReference": "",
                    "entityType": "Delimited"
                }
            },
            "loadData": {
                "type": "bool"
            },
            "rawMaxLoadTime": {
                "type": "string"
            }
        },
        "variables": {
            "fileURL": {
                "type": "String"
            },
            "fileLastModified": {
                "type": "String"
            },
            "fileList": {
                "type": "Array"
            },
            "columnMappings": {
                "type": "String"
            },
            "_LocalPipelineTriggerTime": {
                "type": "String"
            },
            "defaultAdditionalColumns": {
                "type": "String"
            }
        },
        "folder": {
            "name": "_framework/Sources"
        },
        "annotations": []
    }
}