pipeline/invoke-Transform-K2.json
{
    "name": "invoke-Transform-K2",
    "properties": {
        "activities": [
            {
                "name": "Switch Dataflow",
                "type": "Switch",
                "dependsOn": [
                    {
                        "activity": "LocalPipelineTriggerTime",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "on": {
                        "value": "@toLower(pipeline().parameters.pipelineParameters.dataflow)",
                        "type": "Expression"
                    },
                    "cases": [
                        {
                            "value": "generic_parquet_raw_to_staging",
                            "activities": [
                                {
                                    "name": "K2_Parquet_Raw_to_Staging",
                                    "type": "ExecuteDataFlow",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "1.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataflow": {
                                            "referenceName": "Generic_Parquet_Raw_to_Staging",
                                            "type": "DataFlowReference",
                                            "parameters": {
                                                "localTimeZone": {
                                                    "value": "'@{pipeline().parameters.pipelineParameters.localTimeZone}'",
                                                    "type": "Expression"
                                                },
                                                "localiseDateTimeColumns": {
                                                    "value": "@bool(pipeline().parameters.pipelineParameters.localiseDateTime)\n",
                                                    "type": "Expression"
                                                }
                                            },
                                            "datasetParameters": {
                                                "sourceEntity": {
                                                    "datalakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.rawDatalakeURL",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawFileSystem)",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawDirectory)",
                                                        "type": "Expression"
                                                    },
                                                    "fileName": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawFileName)",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "sinkEntity": {
                                                    "dataLakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.stagingDatalakeURL",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.stagingFileSystem)",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(concat(\n    pipeline().parameters.pipelineParameters.stagingDirectory\n    ,'/'\n    ,pipeline().parameters.pipelineParameters.rawEntity\n    ,'/year='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'yyyy')\n    ,'/month='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'MM')\n    ,'/day='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'dd')          \n)\n)\n\n",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        },
                                        "integrationRuntime": {
                                            "referenceName": "AutoScaleIntegrationRuntime",
                                            "type": "IntegrationRuntimeReference"
                                        },
                                        "traceLevel": "Fine"
                                    }
                                }
                            ]
                        }
                    ],
                    "defaultActivities": [
                        {
                            "name": "Fail invoke-Transform-K2",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat(\n    'No dataflow implementation found for '\n    ,pipeline().parameters.pipelineParameters.rawEntity\n    ,'. Dataflow Configured in Load Entiy is '\n    ,pipeline().parameters.pipelineParameters.dataflow\n)",
                                    "type": "Expression"
                                },
                                "errorCode": {
                                    "value": "'MISSING-DATAFLOW'",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "LocalPipelineTriggerTime",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "_LocalPipelineTriggerTime",
                    "value": {
                        "value": "@convertFromUtc(\n    pipeline().TriggerTime\n    ,pipeline().parameters.pipelineParameters.LocalTimeZone\n)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "pipelineParameters": {
                "type": "object"
            }
        },
        "variables": {
            "_LocalPipelineTriggerTime": {
                "type": "String"
            }
        },
        "folder": {
            "name": "_framework/Transformations/K2"
        },
        "annotations": []
    }
}