pipeline/invoke-Transform-Chris21.json
{
    "name": "invoke-Transform-Chris21",
    "properties": {
        "activities": [
            {
                "name": "Switch Dataflow",
                "type": "Switch",
                "dependsOn": [
                    {
                        "activity": "LocalPipelineTriggerTime",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "on": {
                        "value": "@pipeline().parameters.pipelineParameters.dataflow",
                        "type": "Expression"
                    },
                    "cases": [
                        {
                            "value": "Generic_Parquet_Raw_to_Staging",
                            "activities": [
                                {
                                    "name": "Chris21_Raw_to_Staging_Parquet",
                                    "type": "ExecuteDataFlow",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.00:20:00",
                                        "retry": 1,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataflow": {
                                            "referenceName": "Generic_Parquet_Raw_to_Staging",
                                            "type": "DataFlowReference",
                                            "parameters": {
                                                "localTimeZone": {
                                                    "value": "'@{pipeline().parameters.pipelineParameters.localTimeZone}'",
                                                    "type": "Expression"
                                                },
                                                "localiseDateTimeColumns": {
                                                    "value": "@bool(pipeline().parameters.pipelineParameters.localiseDateTime)\n",
                                                    "type": "Expression"
                                                }
                                            },
                                            "datasetParameters": {
                                                "sourceEntity": {
                                                    "datalakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.rawDatalakeURL\n\n",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawFileSystem)\n\n",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawDirectory)\n\n",
                                                        "type": "Expression"
                                                    },
                                                    "fileName": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawFileName)",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "sinkEntity": {
                                                    "dataLakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.stagingDatalakeURL\n",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.stagingFileSystem)",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(concat(\n    pipeline().parameters.pipelineParameters.stagingDirectory\n    ,'/'\n    ,pipeline().parameters.pipelineParameters.rawEntity\n    ,'/year='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'yyyy')\n    ,'/month='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'MM')\n    ,'/day='\n    ,formatDateTime(variables('_LocalPipelineTriggerTime'),'dd')          \n)\n)\n\n",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "linkedServiceParameters": {
                                                "sourceEntity": {
                                                    "linkedService": {
                                                        "datalakeURL": "https://cartersdevdatalake.dfs.core.windows.net"
                                                    }
                                                },
                                                "sinkEntity": {
                                                    "linkedService": {
                                                        "datalakeURL": "https://cartersdevdatalake.dfs.core.windows.net"
                                                    }
                                                }
                                            }
                                        },
                                        "compute": {
                                            "coreCount": 8,
                                            "computeType": "General"
                                        },
                                        "traceLevel": "Fine"
                                    }
                                }
                            ]
                        },
                        {
                            "value": "Generic_Delta_Raw_to_Staging",
                            "activities": [
                                {
                                    "name": "Chris21_Generic_Delta_Raw_to_Staging",
                                    "type": "ExecuteDataFlow",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.00:20:00",
                                        "retry": 1,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "dataflow": {
                                            "referenceName": "Generic_Delta_Raw_to_Staging",
                                            "type": "DataFlowReference",
                                            "parameters": {
                                                "localTimeZone": {
                                                    "value": "'@{pipeline().parameters.pipelineParameters.localTimeZone}'",
                                                    "type": "Expression"
                                                },
                                                "localiseDateTimeColumns": {
                                                    "value": "@bool(pipeline().parameters.pipelineParameters.localiseDateTime)",
                                                    "type": "Expression"
                                                },
                                                "stagingFileSystem": {
                                                    "value": "'@{toLower(pipeline().parameters.pipelineParameters.stagingFileSystem)}'",
                                                    "type": "Expression"
                                                },
                                                "stagingDirectory": {
                                                    "value": "'@{toLower(\n    concat(\n        pipeline().parameters.pipelineParameters.stagingDirectory\n        ,'/'\n        ,pipeline().parameters.pipelineParameters.rawEntity\n    )\n)}'",
                                                    "type": "Expression"
                                                },
                                                "keyColumns": {
                                                    "value": "@split(pipeline().parameters.pipelineParameters.keyColumns,',')",
                                                    "type": "Expression"
                                                }
                                            },
                                            "datasetParameters": {
                                                "sourceEntity": {
                                                    "dataLakeURL": {
                                                        "value": "@pipeline().parameters.pipelineParameters.rawDatalakeURL",
                                                        "type": "Expression"
                                                    },
                                                    "fileSystem": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawFileSystem)",
                                                        "type": "Expression"
                                                    },
                                                    "directory": {
                                                        "value": "@toLower(pipeline().parameters.pipelineParameters.rawDirectory)",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "linkedServiceParameters": {
                                                "sinkEntity": {
                                                    "linkedService": {
                                                        "datalakeURL": {
                                                            "value": "@pipeline().parameters.pipelineParameters.stagingDatalakeURL",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "compute": {
                                            "coreCount": 8,
                                            "computeType": "General"
                                        },
                                        "traceLevel": "Fine"
                                    }
                                }
                            ]
                        }
                    ],
                    "defaultActivities": [
                        {
                            "name": "Fail invoke-Transform-Chris21",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat(\n    'No dataflow implementation found for '\n    ,pipeline().parameters.pipelineParameters.rawEntity\n    ,'. Dataflow Configured in Load Entiy is '\n    ,pipeline().parameters.pipelineParameters.dataflow\n)",
                                    "type": "Expression"
                                },
                                "errorCode": {
                                    "value": "'MISSING-DATAFLOW'",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "LocalPipelineTriggerTime",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "_LocalPipelineTriggerTime",
                    "value": {
                        "value": "@convertFromUtc(\n    pipeline().TriggerTime\n    ,pipeline().parameters.pipelineParameters.LocalTimeZone\n)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "pipelineParameters": {
                "type": "object"
            }
        },
        "variables": {
            "_LocalPipelineTriggerTime": {
                "type": "String"
            }
        },
        "folder": {
            "name": "_framework/Transformations/CHRIS21"
        },
        "annotations": []
    }
}