abcdefghijkl/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "abcdefghijkl"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Set Pipeline Output')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "intArray",
							"value": [
								0,
								1,
								2
							]
						}
					},
					{
						"name": "Actually Set Pipeline Output",
						"description": "It's a Set Variable activity, but it's used to set Pipeline Output.",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "food",
							"value": "delicios"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"variables": {
					"food": {
						"type": "String"
					},
					"pipelineReturnValue": {
						"type": "String"
					},
					"intArray": {
						"type": "Array",
						"defaultValue": [
							1,
							2,
							3
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-10-04T21:05:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/errorSetVar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "intKey",
									"value": {
										"type": "Int",
										"content": 4
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "intKey",
									"value": {
										"type": "Int",
										"content": 2
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@div(1,pipeline().parameters.intParam)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"parameters": {
					"intParam": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-30T18:45:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/exprekytest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "expKey",
									"value": {
										"type": "Expression",
										"content": "@add(1,2)"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-27T00:42:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/newSetVarWithExpBuilder')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "boolKey",
									"value": {
										"type": "Boolean",
										"content": false
									}
								},
								{
									"key": "strKey",
									"value": {
										"type": "String",
										"content": "stringTest"
									}
								},
								{
									"key": "intKey",
									"value": {
										"type": "Int",
										"content": 8
									}
								},
								{
									"key": "expKey",
									"value": {
										"type": "Expression",
										"content": "@add(1,2)"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-26T21:08:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/onlySecureInputOutputSetVar')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "boolName",
									"value": {
										"type": "Boolean",
										"content": true
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"secureOutput": false,
							"secureInput": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-03T21:45:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parameter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.url",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"parameters": {
					"url": {
						"type": "string",
						"defaultValue": "https://api2.binance.com/api/v3/ticker/24hr"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-21T21:36:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api2.binance.com/api/v3/ticker/24hr",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "jerry",
							"value": "mouse"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "[[0,1,2]",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"parameters": {
					"sakura": {
						"type": "string",
						"defaultValue": "kinomoto"
					},
					"usagi": {
						"type": "string",
						"defaultValue": "tsukimono"
					},
					"light": {
						"type": "String",
						"defaultValue": "yagami"
					}
				},
				"variables": {
					"jerry": {
						"type": "String",
						"defaultValue": "mander"
					},
					"tom": {
						"type": "String",
						"defaultValue": "holland"
					},
					"bob": {
						"type": "String"
					},
					"njhbgv": {
						"type": "Array"
					},
					"ford": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-07-21T21:36:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-30T22:54:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-30T22:54:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"folder": {
					"name": "folder"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-30T22:54:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "key",
									"value": {
										"type": "Boolean",
										"content": true
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-11T00:19:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/return val returns 4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "expKey",
									"value": {
										"type": "ExpressionString"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-26T23:54:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/set exp type output')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "expKey",
									"value": {
										"type": "Expression",
										"content": "@add(1,2)"
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-21T17:52:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/set var created from my PC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "keyExp",
									"value": {
										"type": "Expression",
										"content": "@add(1,2)"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-27T00:12:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/set var multi type')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "intKey",
									"value": {
										"type": "Int",
										"content": 2
									}
								},
								{
									"key": "boolKey",
									"value": {
										"type": "Boolean",
										"content": true
									}
								},
								{
									"key": "strKey",
									"value": {
										"type": "String",
										"content": "stringTest"
									}
								},
								{
									"key": "floatKey",
									"value": {
										"type": "Float",
										"content": 2.2
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-08T11:34:01Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/setvar objkey')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "objKeyNested",
									"value": {
										"type": "Object",
										"content": [
											{
												"key": "innerKey1",
												"value": {
													"type": "String",
													"content": "val1"
												}
											},
											{
												"key": "innerKey2",
												"value": {
													"type": "String",
													"content": "val2"
												}
											}
										]
									}
								},
								{
									"key": "objKeyReal",
									"value": {
										"type": "Object",
										"content": [
											{
												"key": "innerKey1",
												"value": {
													"type": "String",
													"content": "val1"
												}
											},
											{
												"key": "innerKey2",
												"value": {
													"type": "String",
													"content": "val2"
												}
											}
										]
									}
								},
								{
									"key": "objKeyAgain",
									"value": {
										"type": "Object",
										"content": [
											{
												"key": "objNest1",
												"value": {
													"type": "String",
													"content": "val1"
												}
											},
											{
												"key": "objNest2",
												"value": {
													"type": "Int",
													"content": "3"
												}
											}
										]
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-21T21:29:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/setvar objkey2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"description": "bgh",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "objKey",
									"value": {
										"type": "Object",
										"content": [
											{
												"key": "objNest1",
												"value": {
													"type": "String",
													"content": "val1"
												}
											},
											{
												"key": "objNest2",
												"value": {
													"type": "Int",
													"content": 3
												}
											}
										]
									}
								},
								{
									"key": "objKey2",
									"value": {
										"type": "Object",
										"content": [
											{
												"key": "objNest22",
												"value": {
													"type": "String",
													"content": "val1"
												}
											},
											{
												"key": "objNest23",
												"value": {
													"type": "Int",
													"content": 5
												}
											}
										]
									}
								},
								{
									"key": "arrKey",
									"value": {
										"type": "Array",
										"content": [
											{
												"type": "String",
												"content": "sally"
											},
											{
												"type": "String",
												"content": "hinata"
											}
										]
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						}
					},
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://api.genderize.io?name=harry",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "boolkey",
									"value": {
										"type": "Boolean",
										"content": true
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "boolkey3",
									"value": {
										"type": "Boolean",
										"content": true
									}
								}
							],
							"setSystemVariable": true
						},
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-22T17:24:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/variable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@variables('url')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"variables": {
					"url": {
						"type": "String",
						"defaultValue": "https://api2.binance.com/api/v3/ticker/24hr"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-08-22T20:20:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/waitttt')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 25
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {
						"duration": "30.00:00:00"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-20T17:34:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}